.burger {
    position: relative;
}
.burger__line {
    position: absolute;
    top: 0;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
}
