@font-face {
    font-family: "LeckerliOne Regular";
	src: url("../fonts/leckerli_one/LeckerliOne_Regular.ttf");
    font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Noto Sans Display Condensed";
	src: url("../fonts/noto_sans_display_condensed/noto_sans_display_condensed.eot"); /* IE9 Compat Modes */
	src: url("../fonts/noto_sans_display_condensed/noto_sans_display_condensed.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/noto_sans_display_condensed/noto_sans_display_condensed.otf") format("opentype"), /* Open Type Font */
		url("../fonts/noto_sans_display_condensed/noto_sans_display_condensed.svg") format("svg"), /* Legacy iOS */
		url("../fonts/noto_sans_display_condensed/noto_sans_display_condensed.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/noto_sans_display_condensed/noto_sans_display_condensed.woff") format("woff"), /* Modern Browsers */
		url("../fonts/noto_sans_display_condensed/noto_sans_display_condensed.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Monospace 821 Win95BT";
	src: url("../fonts/monospace_821_win95bt/monospace_821_win95bt.eot"); /* IE9 Compat Modes */
	src: url("../fonts/monospace_821_win95bt/monospace_821_win95bt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/monospace_821_win95bt/monospace_821_win95bt.otf") format("opentype"), /* Open Type Font */
		url("../fonts/monospace_821_win95bt/monospace_821_win95bt.svg") format("svg"), /* Legacy iOS */
		url("../fonts/monospace_821_win95bt/monospace_821_win95bt.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/monospace_821_win95bt/monospace_821_win95bt.woff") format("woff"), /* Modern Browsers */
		url("../fonts/monospace_821_win95bt/monospace_821_win95bt.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/jetbrains_mono/Jetbrainsmonoregular.woff2') format('woff2'), 
        url('../fonts/jetbrains_mono/Jetbrainsmonoregular.woff') format('woff'), 
        url('../fonts/jetbrains_mono/Jetbrainsmonoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}