@import 'common.css';
@import 'media_queries.css';
:root {
	--carbon: #2d2d2d;
    --shaft: #242424; 
    /* #2b2d35; */
    --lead:#202020;
	--color-2: #41403e;
    --danube: #6ab0f3; 
    /* #589ace; */
    --york: #92d192;
    /* #42a587; */
    --color-5: #575b64;
    --color-6: #ba776d;
    --color-7: #dc8d7c;
    --color-8: #dbc680;
    --color-9: #9a8170;
    --edward:#9c9d9d;
    --red: #f2777a;
    --orange: #fca369;
    --yellow: #ffd479;
/* } */

	/* --color-dark: #a1a1a1;
	--color-unaccent: #808080;
	--color-white: #fff;
	--color-error-light: #f26b6b;
	--color-error-dark: #d65c5c; */
    
	--spacing-small: 10px;
	--spacing-medium: 15px;
	--spacing-large: 30px;

	--border-radius: 3px;
	--linear-gradient: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);
	--box-shadow: 
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}
*,
::after, 
::before  {
    box-sizing: border-box;
}
.html {
    font-size: 1em;
    height: 1em;
}
body {
    display: grid;
    grid-template-areas: 'header'
                         'trainer'
                         'footer';
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    background-color: var(--carbon);
    margin: 0;
} 
.spinner__container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    background-color: #d65c5c;
}
.spinner_hide {
    display: none;
}
.error {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #ba776d;
    z-index: 10;
}
.error__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.error__message {
    max-width: 650px;
    padding: var(--spacing-large);
    text-align: center;
    background-color: var(--color-error-light);
    box-shadow: var(--box-shadow);
    color: var(--color-white);
}
.wrapper {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    grid-area: header;
    background-color: var(--lead);
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid var(--edward);
    background-color: var(--carbon);
}
.logo::after {
    content: 'Irregular verb trainer';
    position: absolute;
    width: max-content;
    left: 100%;
    bottom: 0;
    margin-left: 12px;
    font-size: 15px;
    color: var(--edward);
}
/* .main {
    grid-area: main;
} */
.trainer {
    grid-area: trainer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}
.trainer .wrapper {
    width: 100%;
}
.trainer__container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    width: 100%;
    text-align: center;
}
.verb__native {
    /* margin-bottom: 75px; */
    /* font-size: 30px; */
    font-size: calc(1rem + 1.9vw);
    color: var(--color-9);
}
.form__input-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2%;
    margin: 14vh 0;
}
.form__input {
    width: 100%; /* for responsive width of input tags */ 
    padding: 3px 2px;
    background-color: var(--color-2);
    color: var(--color-6);
    text-align: center;
    font-size: calc(1.1rem + 1.5vw);
    border: none;
    border-radius: 33px;
}
.form__input:focus {
    border-bottom: 1px solid var(--color-6);
    outline: none;
}
.form__input_confirmed:focus {
    color: var(--york);
    border-bottom: 1px solid var(--york);
}
.form__input_rejected:focus {
    color: var(--color-5);
    text-decoration: line-through;
    border-bottom: 1px solid var(--color-5);
}
.answer {
    height: calc(1rem + 1.9vw); /* eliminates jump when displaing the answer */
    /* and for vertically the content of the parent container */
    font-size: calc(1rem + 1.9vw);
    color: var(--color-8);

}
.answer__backlight {
    /* color: var(--color-8); */
}
.footer {
    grid-area: footer;
    background-color: var(--lead);
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 0;
}
.statistics {
    transition: right .3s;
}
.statistics__active {
    right: 0 !important;
}
.statistics__column {
    display: flex;
    align-items: center;
    /* for delete whitespace after inline elements like <span>
    give the font-size: 0 for parent element
    and for its children font-size:[some value] */
    font-size: 0; 
}
.statistics__answers {
    margin-right: 40px;
}
.statistics__answers .statistics__column:not(:last-child) {
    margin-right: 10px;
}
.statistics__name {
    color: var(--edward);
    font-size: 14px; /* too for delete whitespace after inline elements like <span> */
    margin-right: 7px;
}
.statistics__incorrect,
.statistics__correct,
.statistics__total,
.statistics__loaded {
    padding: 0 3px;
    border-radius: 2px;
    font-size: 18px;  /* too for delete whitespace after inline elements like <span> */
    color: var(--orange);
    background-color: var(--color-2);
}
.statistics__answers,
.statistics__verbs {
    position: relative;
    display: inline-flex;
    padding: 6px 7px;
    border: 1px solid var(--color-2);
    border-radius: 5px;
}
.statistics__answers::before {
    content: 'answers';
}
.statistics__verbs::before {
    content: 'verbs';
}
.statistics__verbs::before,
.statistics__answers::before {
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 5px;
    font-size: 13px;
    line-height: 80%;
    color: var(--edward);
    background-color: var(--lead);
}
.statistics__correct {
    color: var(--york);
}
.statistics__incorrect {
    color: var(--red);
}
.statistics__total {
    color: var(--orange);
}
.social {
    display: flex;
}
.social__link {
    display: block;
    border-radius: 50%;
}
.social__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer__social-link {
    width: 37px;
    height: 37px;
    transition: .2s transform;
}
.footer__social-link:focus {
    transform: scale(1.15);
    outline: none;
}
.footer__social-link:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
.footer__social-link:not(:last-child) {
    margin-right: 20px;
}
.header__burger {
    display: none;
    height: 25px;
    width: 35px;
    cursor: pointer;
}
.header__burger-line,
.header__burger::before,
.header__burger::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--edward);
}
.header__burger::before {
    top: 50%;
    transform: translateY(-50%);
}
.header__burger::after {
    bottom: 0;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media screen and (min-height: 500px) and (max-width: 600px) {
    .form__input-wrapper {
        grid-template-columns: 80%;
        justify-content: center;
        grid-row-gap: 5vh;
        margin: 8vh 0;
    }
    @media screen and (max-width: 420px) {
        .form__input-wrapper {
            grid-template-columns: 1fr;
        }    
    }
 }
 @media screen and (max-height: 500px),
        screen and (max-width: 700px) {
    .footer__container {
        height: 50px;
    }
    .statistics__name {
        font-size: 12px;
    }
    .statistics__incorrect,
    .statistics__correct,
    .statistics__total,
    .statistics__loaded {
        font-size: 15px;  
    }
    .statistics__answers {
        margin-right: 32px;
    }
    .statistics__verbs::before,
    .statistics__answers::before {
        font-size: 12px;
    }
    .statistics__answers,
    .statistics__verbs {
        padding: 4px 5px;
    }
    .footer__social-link {
        width: 30px;
        height: 30px;
    }
    .footer__social-link:not(:last-child) {
        margin-right: 10px;
    }
 }
 @media screen and (max-height: 500px) {
    .header__container {
        height: 60px;
    }
    .header__logo {
        width: 40px;
        height: 40px;
    }
    @media screen and (max-height: 380px) {
        .form__input-wrapper {
            margin: 7vh 0;
        }
    }
}
@media screen and (max-width: 565px) {
    .statistics {
        position: fixed;
        top: 60px;
        right: -200%;
        padding: var(--spacing-medium);
        padding-top: 50px;
        text-align: center;
        background-color: var(--shaft);
    }
    .statistics > span:not(:last-child) {
        display: flex;
        margin: 0 0 30px 0;
    }
    .header__burger {
        display: block;
    }
}