:root {
	--color-light: #f8f9fa;
	--color-medium: #e8e8e8;
	--color-dark: #a1a1a1;
	--color-unaccent: #808080;
	--color-white: #fff;
	--color-error-light: #f26b6b;
	--color-error-dark: #d65c5c;

	--spacing-small: 10px;
	--spacing-medium: 15px;
	--spacing-large: 30px;

	--border-radius: 3px;
	--linear-gradient: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);
	--box-shadow: 
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);

}
body {
    background-color: forestgreen;
}
.spinner__container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #d65c5c;
}
.error__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error__message {
    max-width: 650px;
    padding: var(--spacing-large);
    text-align: center;
    background-color: var(--color-error-light);
    box-shadow: var(--box-shadow);
    color: var(--color-white);
}
/* .answer {
    display: none;
} */
.answer__backlight {
    /* display: block; */
    background-color:#a8eb12;
}
.form__input {
    background-color: #fff;
    color: #000;
}
.form__input_confirmed {
    background-color: #a8eb12;
}